<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top"
            src="https://vignette.wikia.nocookie.net/gran-turismo/images/b/b2/Chevrolet_Camaro_SS_%2769.jpg/revision/latest?cb=20181005160928"
            alt="">
        <div class="card-body">
            <h4 class="card-title">Studentski grad - Varna</h4>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
    </div>
</div>